.countries img{
    width: 200px;
}
.country{
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid green;
    /* background-color: yellow; */
    border-radius: 50px;
    padding: 20px;
}
.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}